@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto';
}

html,body{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    padding: 2vw 1vw;
}

.menus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    
}
.menus h4{
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: 600;
}

nav button{
    background-color: rgb(73, 158, 88);
    display: flex;
    align-self: center;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    font-size: 0.8vw;
    font-weight: bold;
    text-transform: uppercase;
}

nav button svg {
    height: 1vw;
    padding-left: 10px;
}

nav:hover #nav-bottom{
    bottom: -150%;
    height: 150%;
    background-color: #111;
}

#nav-bottom{
    height: 0;
    position: absolute;
    transition: all ease 0.7s;
    width: 83%;
    bottom: 0;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 39vw;
    line-height: 1.1vw;
    gap: 85px;
    padding-top: 2vw;
    /* align-items: center;
    
    padding-left: 39%;
    gap: 5%; */
}

#bottom-div h5{
    font-size: 0.7vw;
    font-weight: 300;
    margin-bottom: 0.3vw;
    opacity: 0;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#page1 h1{
    font-size: 15vh;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 15vh;
}

#page1 h1 svg{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: rgb(73, 158, 88);
}

#page1 p{
    text-align: center;
    font-weight: 700;
    margin-top: 5vh;
}

.tags{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags h4{
    font-weight: 700;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid rgb(133, 130, 130);
    border-radius: 50px;
    /* margin: 10px; */
    margin-top: 1vh;
}

.tags h4:nth-last-child(2){
    border: none;
    padding: 1vw;
}


#page2{
    height: 100vh;
    width: 100vw;
    background-color: #111;

}